/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    padding: 20px;
  }
  
  /* Estilo del contenedor del formulario */
  .venta-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .venta-header {
    flex: 1 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .venta-header h1 {
    color: #333;
    font-size: 28px;
  }
  
  .venta-header .venta-box-msg {
    color: #777;
    font-size: 16px;
  }
  
  /* Estilo del formulario */
  .venta-form {
    flex: 1 1 45%;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
  }
  
  .venta-form .input-group {
    margin-bottom: 15px;
  }
  
  /* Estilo de los inputs con fondo blanco */
  .venta-form input,
  .venta-form label {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #000000;
  }
  
  /* Enfoque de los inputs */
  .venta-form input:focus,
  .venta-form textarea:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff;
    box-shadow: none;
  }
  
  /* Estilo para el div de resumen */
  .venta-summary {
    flex: 1 1 45%;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .venta-summary .input-group {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }
  
  .venta-summary label {
    color: #495057;
    font-weight: normal;
  }
  
  .venta-summary button {
    background-color: #ff214f;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  .venta-summary button:hover {
    background-color: #FF8882;
  }
  